<h1>Добавление позиций запчастей</h1>
 

<%= form_for :spare, url: spares_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

 

   <p>
    <%= f.submit %>
  </p>
<% end %>




<table class="table">

	<thead>
 		<tr>
 			<th>#</th>
 			<th>Имя</th>
  		</tr>
  	</thead>

    	<% @spares.each do |spare| %>
          
        <tbody>
        
        	<tr>

        		<td>
    				<ol><li>
    				</li></ol>
    			</td>		

    			
    			<td>
    				<%= spare.name %>
    			</td>


    			<td>
    				<%= link_to "delete", spare, method: :delete,
                                  data: { confirm: "You sure?" } %>
                </td>
    		
    		</tr>
    		

    	</tbody>
    	
  		<% end %>

  	</thead>	  	

</table>
